@import "./consts/consts.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: $main-color;
  @include font-style();
  @include to-center_column(center, space-between);
  h1 {
    font-family: var(--font-tektur);
    font-weight: 400;
    background: $h2-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
