@import "../../consts/consts.scss";
@import "../../consts/mixins.scss";

.sn-menu__link {
  position: relative;

  .sn-menu__hover {
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: $hover-gradient;
    opacity: 0;
    transition: opacity 0.3s linear;
    z-index: 1;
  }
  .sn-menu__hover:hover {
    opacity: 1;
  }
}
.sn-menu {
  width: 100px;
  height: 50px;
  @include to-center_row();
}