$main-color: #132222;
$main-text-color: white;
$hover-text-shadow: rgb(225, 204, 204);
$h2-gradient: linear-gradient(0deg, #00b292, #2dffd9, #54ffe0, #03776f);
$h3-gradient: linear-gradient(90deg, #00b292, #2dffd9, #54ffe0, #00f0e0);
$hover-gradient: radial-gradient(#54ffe070 10%, #34343400 35%, #13222200);

$transition-value: opacity .2s linear, text-shadow .3s linear;
