$main-color: #132222;
$main-text-color: white;
$hover-text-shadow: rgb(225, 204, 204);
$h2-gradient: linear-gradient(0deg, #00b292, #2dffd9, #54ffe0, #03776f);
$h3-gradient: linear-gradient(90deg, #00b292, #2dffd9, #54ffe0, #00f0e0);
$hover-gradient: radial-gradient(#54ffe070 10%, #34343400 35%, #13222200);

@mixin to-center_row($align: center, $justify: space-between) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
@mixin to-center_column($align: space-between, $justify: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}
@mixin font-style(
  $font-family: var(--font-exo2),
  $font-size: 20px,
  $font-weight: 400,
  $color: $main-text-color
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  color: $color;
}
@mixin menu-style() {
  width: 60%;
  font-size: 18px;
}
$transition-value: opacity .2s linear, text-shadow .3s linear;
@mixin transition-for-text($transition: $transition-value) {
  transition: $transition;
}
@mixin text-link-hover(
  $opacity: 80%,
  $text-shadow: 1px 1px 1px $hover-text-shadow
) {
  opacity: $opacity;
  cursor: pointer;
  text-shadow: $text-shadow;
}
